@using static MercuriusStatic.Pages.Praesidium.Praesidium;

<div class="dialog" @onclick="ToggleDialog">
    <button class="btn-close btn-close" @onclick="ToggleDialog" />
    <div class="title">
        <h3 class="function"><b>@Member.Function</b></h3>
        <h5 class="name">@Member.FirstName <b class="@(Member.NickName == null ? "d-none": null)">"@Member.NickName"</b> @Member.LastName</h5>
    </div>
    <img src="@(Member.ImageUrl+".png")" class="image" />
    <div class="text">
        <h6 class="question">Studie</h6>
        <h6 class="answer">@Member.Study</h6>
        <h6 class="question">Doopjaar</h6>
        <h6 class="answer">@Member.BaptiseYear</h6>
        <h6 class="question">Peter / Meter</h6>
        <h6 class="answer">@Member.PetMet</h6>
        <h6 class="question">Favoriet cantuslied</h6>
        <h6 class="answer">@Member.Song</h6>
        <h6 class="question">Favoriete quote</h6>
        <h6 class="answer">"@Member.Quote" <br /><i style="margin-left: 2rem;">-@Member.QuoteBy</i></h6>
    </div>
</div>


