@using static MercuriusStatic.Pages.Praesidium.Praesidium;

<div class="dialog">
    <button class="btn-close" onclick="@ToggleDialog" />
    <img src="@(Member.ImageUrl+".png")" class="image" />
    <div class="text">
        <h3 class="function"><b>@Member.Function</b></h3>
        <h5 class="name">@Member.FirstName <b class="@(Member.NickName == null ? "d-none": null)">'@Member.NickName'</b> @Member.LastName</h5>
        <br />

        <h6 class="card-subtitle">Vraag</h6>
        <h6>Antwoord op de vraag</h6>
    </div>
</div>

@code {
    [Parameter]
    public PrLid Member { get; set; } = default!;
    [Parameter]
    public Action ToggleDialog { get; set; } = default!;
}
