@using static MercuriusStatic.Pages.Kalender.Kalender;
@inject ISnackbar Snackbar

@if (EventIndex.LinkUrl == "")
{
	<div class="event-card" @onclick="OnClick">
		<img class="event-image" src=@(EventIndex.ImageUrl == ""? "https://imgur.com/NhrMwiG.png": $"{@EventIndex.ImageUrl}.png") loading="eager" />
		<div class="event-text">
			<MudText Align="Align.Center" Typo="Typo.h5" Class="mb-4"><b>@EventIndex.Name</b></MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Wanneer?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@EventIndex.Start.ToString("dd/MM/yyyy") - @(EventIndex.Start.Hour == 0 ? "TBA" : EventIndex.Start.ToString("HH:mm"))</MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Waar?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@(EventIndex.Location == "" ? "TBA" : EventIndex.Location)</MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Toegankelijkheid?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@(EventIndex.Open ? "Open" : "Gesloten")</MudText>
		</div>
	</div>
}
else
{
	<a class="event-card" href="@EventIndex.LinkUrl" target="_blank">
		<img class="event-image" src=@(EventIndex.ImageUrl == ""? "https://imgur.com/NhrMwiG.png": $"{@EventIndex.ImageUrl}.png") />
		<div class="event-text">
			<MudText Align="Align.Center" Typo="Typo.h5" Class="mb-4 flex-grow-1"><b>@EventIndex.Name</b></MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Wanneer?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@EventIndex.Start.ToString("dd/MM/yyyy") - @(EventIndex.Start.Hour == 0 ? "TBA" : EventIndex.Start.ToString("HH:mm"))</MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Waar?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@(EventIndex.Location == "" ? "TBA" : EventIndex.Location)</MudText>

			<MudText Align="Align.Left" Typo="Typo.body1"><b>Toegankelijkheid?</b></MudText>
			<MudText Align="Align.Left" Typo="Typo.body1" Class="mb-2">@(EventIndex.Open ? "Open" : "Gesloten")</MudText>
		</div>
	</a>
}
@code {
	[Parameter]
	public Activiteit EventIndex { get; set; } = default!;

	public void OnClick()
	{
		Console.WriteLine("here");
		Snackbar.Add("Oeps, deze activiteit heeft nog geen facebook-event", Severity.Error);
	}
}
