@page "/"
@inject HttpClient Http

<PageTitle>Mercurius Aalst - De oudste studentenvereniging van Aalst</PageTitle>

<Banner />

<div style="margin-bottom: 4rem; text-align: center;">
	<div class="blog-text" style="margin-bottom: 4rem;">
		<p style="text-align: center;">
			Beste Mercurianen en geïnteresseerden,<br />
			Welkom op de officiële website van onze studentenclub!
		</p>
	</div>
	<MudText Color="Color.Primary" Typo="Typo.h4" Align="Align.Center" Class="fw-bold">Wie zijn we?</MudText>

	<img src="/img/praesidium-2223.png" class="home-pic" loading="eager" />

	<div class="blog-text">
		<p>
			Mercurius is dé studentenclub bij uitstek voor de studenten aan de HOGENT stadscampus Aalst. Bij ons voel je je meteen thuis door onze familiale, vriendschappelijke sfeer.
		</p>
		<p>
			Het doel van onze club is namelijk studenten uit allerlei verschillende richtingen samenbrengen in tal van studentikoze activiteiten en een hechte vriendengroep vormen.
		</p>
	</div>
	<MudText Color="Color.Primary" Typo="Typo.h4" Align="Align.Center" Class="fw-bold">Hoe zit het met de doop?</MudText>

	<div class="blog-text">
		<p>
			Wij zijn een door Hogeschool Gent erkende studentenclub. Dit wil zeggen dat wij enkele afspraken ondertekenen die strikt nageleefd worden. Daarnaast ondertekenen wij het Aalsters en het Gents doopdecreet. Hierdoor kunnen wij een veilige en aangename doop garanderen voor alle deelnemers. Bij ons geldt een nultolerantie voor wanpraktijken of situaties die de veiligheid van onze leden op het spel zet.
		</p>
		<p>
			Nog niet overtuigd? Kom dan zeker eens een kijkje nemen op één (of veel) van onze gezellige clubavonden of open activiteiten doorheen het jaar. Mercurius is een studentenclub waar je vrienden en herinneringen voor het leven maakt!
		</p>
		<p>
			Tot binnenkort! <br />
			XOXO praesidium @year
		</p>
	</div>
</div>

@if (blogItem != null && blogItem.Title != "")
{
	<div style="margin: 8rem 0; text-align: center;">
		<MudText Color="Color.Primary" Typo="Typo.h4" Align="Align.Center" Class="fw-bold">@blogItem.Title</MudText>

		@if (blogItem.Image != "")
		{
			<img src="@(blogItem.Image+".png")" class="blog-pic" loading="eager" />
		}

		<div class="blog-text">
			@foreach (string par in blogItem.Paragraphs)
			{
				<h5>@par</h5>
			}
			<h5 class="text-center"><a href="@blogItem.Link" target="_blank" class="link-primary text-decoration-underline">@blogItem.LinkText</a></h5>
		</div>
	</div>
}

