@inject NavigationManager NM
@inject IJSRuntime JS

<footer class="footer">
	<img class="footer-top" src="img/footer-top.png" />
	<div class="footer-bot">
		<a class="to-top" onclick="@(() => BackToTop())">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up to-top-icon" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
			</svg>
		</a>
		<div class="footer-icon">
			<img src="img/mercurius-logo.png" height="200" />
		</div>

		<div class="footer-socials">
			<h5>Social Media</h5>
			<div class="socials">
				<MudIconButton Icon="@Icons.Custom.Brands.Facebook" Href="https://www.facebook.com/groups/26262717221" Target="_blank" />
				<MudIconButton Icon="@Icons.Custom.Brands.TikTok" Href="@link" Target="_blank" />
				<MudIconButton Icon="@Icons.Custom.Brands.Instagram" Href="https://www.instagram.com/mercurius.aalst/" Target="_blank" />
			</div>
		</div>

		<div class="footer-contact">
			<h5>Contact</h5>
			<div>
				<a href="https://goo.gl/maps/GrR8Tng5JRvrQova7" target="_blank">Arbeidstraat&nbsp;14, 9300&nbsp;Aalst</a><br />
				<a href="mailto:mercuriusaalst.studentenclub@gmail.com" target="_blank">mercuriusaalst.studentenclub@gmail.com</a><br />
			</div>
			<h5 style="margin-top: 3rem;">Clubstatuten</h5>
			<div>
				<a href="./statuten_studentenclub_mercurius.pdf" target="_blank">Download onze Clubstatuten hier</a>
			</div>
		</div>

		<div class="footer-pages">
			<h5>Pagina's</h5>
			<div class="pages">
				<a href="/">Home</a>
				<a href="/praesidium">Praesidium</a>
				<a href="/media">Media</a>
				<a href="/geschiedenis">Geschiedenis</a>
				<a href="/clublied">Clublied</a>
				<a href="/kalender">Kalender</a>
			</div>
		</div>
	</div>
	<div class="promo">
		Webdesign & development by <a href="http://www.jonathancouck.be/" target="_blank"><b>Jonathan&nbsp;Couck</b></a>
	</div>
</footer>

@code {
	private string link = "https://www.tiktok.com/@mercurius.aalst?is_from_webapp=1&sender_device=pc";

	private async Task BackToTop()
	{
		await JS.InvokeVoidAsync("backToTop");
	}
}