@inject NavigationManager NM
@inject IJSRuntime JS

<div class="fixed-top">
	<nav class="navbar d-flex align-items-center text-white">
		<top-link class="me-auto mb-0"><a class="logo-link" href="/"><b>Mercurius</b></a></top-link>

		<ul class="list-group-horizontal d-none d-md-flex list-unstyled">
			@foreach (string[] l in _links)
			{
				<a class="@l[2] menu-link" href="@l[0]">@l[1]</a>
			}
		</ul>

		<MudIconButton Class="d-block d-md-none" Style="height: 3.5rem; width: 3.5rem; margin: 0;" Icon="@Icons.Material.Filled.Notes" Color="Color.Secondary" OnClick="OpenDrawer" />
	</nav>
</div>

<div class=@("drawer " + (_open ? "opened" : ""))>
	<div class="top-drawer">
		<a href="/" class="top-drawer-link" onclick="@(() => ClickLink("/"))">
			<img src="img/mercurius-logo.png" style="height: 2.5rem; margin-right: 1rem;" />
			Mercurius
		</a>
		<button class="btn-close" onclick="@(() => CloseDrawer())" />
	</div>
	<div class="drawer-links">
		@foreach (string[] l in _links)
		{
			<a class="@l[3] drawer-link" onclick="@(() => ClickLink("/"+l[0]))">@l[1]</a>
		}
	</div>
</div>