@inject NavigationManager nm
@inject IJSRuntime JS

<div class="fixed-top">
	<nav class="navbar d-flex align-items-center text-white">
		<h3 class="me-auto mb-0"><a class="logo-link" href="/"><b>Mercurius</b></a></h3>

		<ul class="list-group-horizontal d-none d-md-flex list-unstyled">
			@foreach (string[] l in _links)
			{
				if(l[1] != "Kalender")
				{
					<a class="@l[2] menu-link" href="@l[0]">@l[1]</a>
				}
				else
				{
					<a class="@l[2] menu-link" href="@l[0]">@l[1]</a>
				}
			}
		</ul>

		<MudIconButton Class="d-flex d-md-none hamburger my-0" Icon="@Icons.Material.Filled.Notes" Color="Color.Secondary" OnClick="() => _open = true" />
	</nav>
</div>


<MudDrawer @bind-Open="@_open" Anchor="Anchor.Start" Variant="DrawerVariant.Temporary" Class="mud-drawer-fixed">
	<MudNavMenu>
		<MudNavLink Href="/" Match="NavLinkMatch.All" Class="mt-5">Home</MudNavLink>
		<MudNavLink Href="/praesidium" Match="NavLinkMatch.Prefix">Praesidium</MudNavLink>
		<MudNavLink Href="/media" Match="NavLinkMatch.Prefix">Media</MudNavLink>
		<MudNavLink Href="/geschiedenis" Match="NavLinkMatch.Prefix">Geschiedenis</MudNavLink>
		<MudNavLink Href="/clublied" Match="NavLinkMatch.Prefix">Clublied</MudNavLink>
		<MudNavLink Href="/kalender" Match="NavLinkMatch.Prefix">Kalender</MudNavLink>
	</MudNavMenu>
</MudDrawer>

