@page "/geschiedenis"
@inject HttpClient Http

<PageTitle>Geschiedenis - Mercurius Aalst</PageTitle>

<Banner Title="Geschiedenis" />

<div style="max-width: 1000px; margin: 4rem auto;">
	<TitledSection Title="Tijdslijn" Alignment="Align.Center" Style="font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem;">
		@if (timelinePoints == null)
		{
			<LoadingMessage />
		}
		else
		{
			<MudTimeline TimelineAlign="TimelineAlign.Start">
				@foreach (TimelinePoint tlp in timelinePoints)
				{
					<MudTimelineItem Color="Color.Primary" Size="Size.Small" Elevation="5">
						<ItemOpposite>
							<MudText  Color="Color.Primary" Typo="Typo.h5">@tlp.Date</MudText>
						</ItemOpposite>
						<ItemContent>
							<MudText Typo="Typo.body1">@tlp.Text</MudText>
						</ItemContent>
					</MudTimelineItem>
				}
			</MudTimeline>
		}
	</TitledSection>
</div>

<div style="max-width: 1000px; margin: 4rem auto;">
	<TitledSection Title="Ontstaan" Alignment="Align.Center" Style="font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem;">
		<p style="margin: inherit auto;">
			Het in 1948 ontstane Mercurius is de oudste nog bestaande studentenclub van Aalst.
			In de pas opgerichte Rijkshogere Handelsschool werd door toenmalig directeur Reychler Studentenbond
			Mercurius boven de doopvont gehouden.
		</p>
		<p style="margin: inherit auto;">
			Er werd onder andere toneel gespeeld en een bibliotheek beheerd.
			Er was ook het studentenblad Kwik. Het is duidelijk dat er sindsdien veel veranderd is.
			In de zeventig jarige geschiedenis heeft de club tweemaal een onderbreking gekend van enkele jaren. <br />
		</p>
		<p style="margin: inherit auto;">
			De laatste heroprichting dateert van 1986 toen Peter Van Accolyen de club opnieuw leven in blies. 
			Lange tijd is, zoals te horen in ons clublied, het Kastanjehof het clublokaal geweest. In 'den Hof' stonden Yvette en Mark achter den toog. Deze zijn sinds 2015 met pensioen, maar blijven voor eeuwig de Meter en Peter van onze club. 
			Momenteel kunnen de (glazen) boterhammen genuttigd worden in de Zeppelin.
		</p>
	</TitledSection>
</div>

<div style="max-width: 1000px; margin: 4rem auto;">
	<TitledSection Title="Naamgeving" Alignment="Align.Center" Style="font-size: 1.25rem; margin-left: 1rem; margin-right: 1rem;">
		<p style="margin: inherit auto; text-align: left;">
			Mercurius was de Romeinse god van de handelaren (ook wel van de dieven en bedriegers).
			Zijn Griekse tegenhanger was Hermes, net zoals nu de Gentse tegenhanger van Mercurius heet. <br />
		</p>
		<p style="margin: inherit auto; text-align: left;">
			Op het schild kan je behalve het monogram ook de staf van Mercurius zien, de caduceus. Deze toont een palmtak met twee verstrengelde slangen.
		</p>
	</TitledSection>
</div>

<TitledSection Title="Prosenioren" Style="display: flex; margin: 4rem auto; max-width: 500px;">
	<MudTable id="proseniors-part" Style="padding: 0; border-radius: 0;" Items="_proseniorItems" Elevation="10" Dense Hover Outlined Striped Breakpoint="Breakpoint.None">
		<HeaderContent>
			<MudTh>Jaar</MudTh>
			<MudTh>Naam</MudTh>
			<MudTh>Bijnaam</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd>@context[0]</MudTd>
			<MudTd>@context[1]</MudTd>
			<MudTd>@(context[2] == "" ? "-" : context[2])</MudTd>
		</RowTemplate>

		<PagerContent>
			<MudTablePager HideRowsPerPage />
		</PagerContent>
	</MudTable>
</TitledSection>

	@code {
	private TimelinePoint[]? timelinePoints;

	protected override async Task OnInitializedAsync()
	{
		timelinePoints = await Http.GetFromJsonAsync<TimelinePoint[]>("sample-data/timeline.json");
	}

	public class TimelinePoint
	{
		public string Date { get; set; } = default!;
		public string Text { get; set; } = default!;
		public string Link { get; set; } = default!;
	}
}